// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as VitableConnect from "../../../index.js";

export declare namespace EnrollmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage benefit enrollments and elections for employees.
 */
export class EnrollmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnrollmentsClient.Options>;

    constructor(options: EnrollmentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a single enrollment: the employee and employer it belongs to, the benefit product, its status, the coverage period, the employee payroll deduction and employer contribution, and the enrolled plan's Summary of Benefits and Coverage document when one is on file. An enrollment the caller cannot reach is indistinguishable from one that does not exist.
     *
     * @param {VitableConnect.GetEnrollmentsRequest} request
     * @param {EnrollmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.enrollments.get({
     *         enrollment_id: "enrl_AAAAAAAAAAAAAAAAAAAAAQ"
     *     })
     */
    public get(
        request: VitableConnect.GetEnrollmentsRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.EnrollmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: VitableConnect.GetEnrollmentsRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.EnrollmentResponse>> {
        const { enrollment_id: enrollmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/enrollments/${core.url.encodePathParam(enrollmentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.EnrollmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/enrollments/{enrollment_id}",
        );
    }

    /**
     * Closes the targeted enrollment and creates a new unanswered enrollment for the same member and plan year. VPC never requires a qualifying life event; other products require an accepted, member-owned event outside open enrollment. User-backed callers must provide a reason; it is optional for organization API-key callers. Tenant mismatches return a non-disclosing 404 before the request body is validated.
     *
     * @param {VitableConnect.ReissueEnrollmentRequest} request
     * @param {EnrollmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.UnprocessableEntityError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.enrollments.reissue({
     *         enrollment_id: "enrl_AAAAAAAAAAAAAAAAAAAAAQ",
     *         reason: "Member needs a new election after a qualifying event.",
     *         ticket_number: "BPT-1234",
     *         qualifying_life_event_id: "qle_AAAAAAAAAAAAAAAAAAAAAQ"
     *     })
     *
     * @example
     *     await client.enrollments.reissue({
     *         enrollment_id: "enrl_AAAAAAAAAAAAAAAAAAAAAQ",
     *         reason: "Member needs a new election."
     *     })
     */
    public reissue(
        request: VitableConnect.ReissueEnrollmentRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.ReissueEnrollmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__reissue(request, requestOptions));
    }

    private async __reissue(
        request: VitableConnect.ReissueEnrollmentRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.ReissueEnrollmentResponse>> {
        const { enrollment_id: enrollmentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/enrollments/${core.url.encodePathParam(enrollmentId)}/reissue`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as VitableConnect.ReissueEnrollmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new VitableConnect.UnprocessableEntityError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/enrollments/{enrollment_id}/reissue",
        );
    }

    /**
     * Terminates enrolled coverage immediately. An accepted qualifying life event owned by the enrollment member is required unless the plan is VPC or ICHRA. User-backed callers must provide a reason; it is optional for organization API-key callers. API keys may act across the caller organization's book. Tenant mismatches return the same non-disclosing 404 before the request body is validated.
     *
     * @param {VitableConnect.TerminateEnrollmentRequest} request
     * @param {EnrollmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.UnprocessableEntityError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.enrollments.terminate({
     *         enrollment_id: "enrl_AAAAAAAAAAAAAAAAAAAAAQ",
     *         reason: "Member requested coverage termination after a qualifying event.",
     *         ticket_number: "BPT-1234",
     *         qualifying_life_event_id: "qle_AAAAAAAAAAAAAAAAAAAAAQ"
     *     })
     *
     * @example
     *     await client.enrollments.terminate({
     *         enrollment_id: "enrl_AAAAAAAAAAAAAAAAAAAAAQ",
     *         reason: "Member requested coverage termination."
     *     })
     */
    public terminate(
        request: VitableConnect.TerminateEnrollmentRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__terminate(request, requestOptions));
    }

    private async __terminate(
        request: VitableConnect.TerminateEnrollmentRequest,
        requestOptions?: EnrollmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { enrollment_id: enrollmentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/enrollments/${core.url.encodePathParam(enrollmentId)}/terminate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new VitableConnect.UnprocessableEntityError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/enrollments/{enrollment_id}/terminate",
        );
    }
}
