// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as VitableConnect from "../../../index.js";

export declare namespace PlansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * A plan defines what care a member is subscribed to. Plans are linked to your organization by Vitable; partners cannot self-serve plan creation.
 */
export class PlansClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PlansClient.Options>;

    constructor(options: PlansClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of benefit plans linked to the authenticated organization.
     *
     * @param {VitableConnect.ListPlansRequest} request
     * @param {PlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.plans.list({
     *         limit: 20,
     *         page: 1
     *     })
     */
    public async list(
        request: VitableConnect.ListPlansRequest = {},
        requestOptions?: PlansClient.RequestOptions,
    ): Promise<core.Page<VitableConnect.Plan, VitableConnect.PlanListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: VitableConnect.ListPlansRequest,
            ): Promise<core.WithRawResponse<VitableConnect.PlanListResponse>> => {
                const { limit, page } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    page,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.VitableConnectEnvironment.Production,
                        "v1/plans",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as VitableConnect.PlanListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new VitableConnect.BadRequestError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new VitableConnect.UnauthorizedError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new VitableConnect.ForbiddenError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new VitableConnect.NotFoundError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 409:
                            throw new VitableConnect.ConflictError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new VitableConnect.TooManyRequestsError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new VitableConnect.InternalServerError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 502:
                            throw new VitableConnect.BadGatewayError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.VitableConnectError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/plans");
            },
        );
        let _offset = request?.page != null ? request?.page : 1;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<VitableConnect.Plan, VitableConnect.PlanListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length > 0,
            getItems: (response) => response?.data ?? [],
            loadPage: (_response) => {
                _offset += 1;
                return list(core.setObjectProperty(request, "page", _offset));
            },
        });
    }
}
