// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as VitableConnect from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Issue short-lived access tokens for scoped API access.
 */
export class AuthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthClient.Options>;

    constructor(options: AuthClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Issues a short-lived access token from the authenticated API key. Access tokens can optionally be bound to a specific employer or employee for scoped access. Tokens expire after 15 minutes.
     *
     * @param {VitableConnect.IssueAccessTokenRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.auth.issueAccessToken({
     *         grant_type: "client_credentials"
     *     })
     *
     * @example
     *     await client.auth.issueAccessToken({
     *         grant_type: "client_credentials",
     *         bound_entity: {
     *             id: "empr_SGVsbG8gV29ybGQ",
     *             type: "employer"
     *         }
     *     })
     */
    public issueAccessToken(
        request: VitableConnect.IssueAccessTokenRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.AccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__issueAccessToken(request, requestOptions));
    }

    private async __issueAccessToken(
        request: VitableConnect.IssueAccessTokenRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.AccessTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                "v1/auth/access-tokens",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.AccessTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/auth/access-tokens");
    }
}
