// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as VitableConnect from "../../../index.js";

export declare namespace EmployeesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage employee records for employers.
 */
export class EmployeesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmployeesClient.Options>;

    constructor(options: EmployeesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves detailed information for a specific employee by ID. Returns employee details including personal information, employment status, classification and compensation-type effective dates, compensation type, and payroll deductions from the most recent statement period. Deductions reflect a snapshot of the current period and are replaced when a new statement is generated.
     *
     * @param {VitableConnect.GetEmployeesRequest} request
     * @param {EmployeesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.employees.get({
     *         employee_id: "empl_abc123def456"
     *     })
     */
    public get(
        request: VitableConnect.GetEmployeesRequest,
        requestOptions?: EmployeesClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.EmployeeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: VitableConnect.GetEmployeesRequest,
        requestOptions?: EmployeesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.EmployeeResponse>> {
        const { employee_id: employeeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/employees/${core.url.encodePathParam(employeeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.EmployeeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/employees/{employee_id}");
    }

    /**
     * Updates employee personal, contact, address, and employment fields. This endpoint currently supports email, phone, gender, address, employee_class, start_date, and compensation_type. effective_date is required and applies to employee_class and compensation_type when those fields are included in the request.
     *
     * @param {VitableConnect.PatchedUpdateEmployeeRequest} request
     * @param {EmployeesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.employees.update({
     *         employee_id: "empl_abc123def456",
     *         employee_class: "Full Time",
     *         start_date: "2023-01-15",
     *         compensation_type: "Salary",
     *         effective_date: "2023-03-01"
     *     })
     */
    public update(
        request: VitableConnect.PatchedUpdateEmployeeRequest,
        requestOptions?: EmployeesClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.EmployeeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: VitableConnect.PatchedUpdateEmployeeRequest,
        requestOptions?: EmployeesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.EmployeeResponse>> {
        const { employee_id: employeeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/employees/${core.url.encodePathParam(employeeId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.EmployeeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/employees/{employee_id}");
    }

    /**
     * Retrieves a paginated list of benefit enrollments for an employee.
     *
     * @param {VitableConnect.ListEnrollmentsEmployeesRequest} request
     * @param {EmployeesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.employees.listEnrollments({
     *         employee_id: "empl_abc123def456",
     *         limit: 20,
     *         page: 1
     *     })
     */
    public async listEnrollments(
        request: VitableConnect.ListEnrollmentsEmployeesRequest,
        requestOptions?: EmployeesClient.RequestOptions,
    ): Promise<core.Page<VitableConnect.Enrollment, VitableConnect.EnrollmentListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: VitableConnect.ListEnrollmentsEmployeesRequest,
            ): Promise<core.WithRawResponse<VitableConnect.EnrollmentListResponse>> => {
                const { employee_id: employeeId, limit, page } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    page,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.VitableConnectEnvironment.Production,
                        `v1/employees/${core.url.encodePathParam(employeeId)}/enrollments`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as VitableConnect.EnrollmentListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new VitableConnect.BadRequestError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new VitableConnect.UnauthorizedError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new VitableConnect.ForbiddenError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new VitableConnect.NotFoundError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 409:
                            throw new VitableConnect.ConflictError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new VitableConnect.TooManyRequestsError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new VitableConnect.InternalServerError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 502:
                            throw new VitableConnect.BadGatewayError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.VitableConnectError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/employees/{employee_id}/enrollments",
                );
            },
        );
        let _offset = request?.page != null ? request?.page : 1;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<VitableConnect.Enrollment, VitableConnect.EnrollmentListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length > 0,
            getItems: (response) => response?.data ?? [],
            loadPage: (_response) => {
                _offset += 1;
                return list(core.setObjectProperty(request, "page", _offset));
            },
        });
    }
}
