// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as VitableConnect from "../../../index.js";
import { MembersClient } from "../resources/members/client/Client.js";

export declare namespace GroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * A group is a container for a set of members — every member who receives care through Vitable belongs to one group at a time. Create and manage groups, and sync their member rosters.
 */
export class GroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GroupsClient.Options>;
    protected _members: MembersClient | undefined;

    constructor(options: GroupsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get members(): MembersClient {
        return (this._members ??= new MembersClient(this._options));
    }

    /**
     * Returns a paginated list of groups belonging to the authenticated organization.
     *
     * @param {VitableConnect.ListGroupsRequest} request
     * @param {GroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.groups.list({
     *         limit: 20,
     *         page: 1
     *     })
     */
    public async list(
        request: VitableConnect.ListGroupsRequest = {},
        requestOptions?: GroupsClient.RequestOptions,
    ): Promise<core.Page<VitableConnect.Group, VitableConnect.GroupListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: VitableConnect.ListGroupsRequest,
            ): Promise<core.WithRawResponse<VitableConnect.GroupListResponse>> => {
                const { limit, page } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    page,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.VitableConnectEnvironment.Production,
                        "v1/groups",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as VitableConnect.GroupListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new VitableConnect.BadRequestError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new VitableConnect.UnauthorizedError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new VitableConnect.ForbiddenError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new VitableConnect.NotFoundError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 409:
                            throw new VitableConnect.ConflictError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new VitableConnect.TooManyRequestsError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new VitableConnect.InternalServerError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        case 502:
                            throw new VitableConnect.BadGatewayError(
                                _response.error.body as VitableConnect.ErrorResponse,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.VitableConnectError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/groups");
            },
        );
        let _offset = request?.page != null ? request?.page : 1;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<VitableConnect.Group, VitableConnect.GroupListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length > 0,
            getItems: (response) => response?.data ?? [],
            loadPage: (_response) => {
                _offset += 1;
                return list(core.setObjectProperty(request, "page", _offset));
            },
        });
    }

    /**
     * Creates a new group scoped to the authenticated organization.
     *
     * @param {VitableConnect.CreateGroupRequest} request
     * @param {GroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.UnprocessableEntityError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.groups.create({
     *         name: "Tier 1",
     *         external_reference_id: "mol_seg_001"
     *     })
     */
    public create(
        request: VitableConnect.CreateGroupRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.GroupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: VitableConnect.CreateGroupRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.GroupResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                "v1/groups",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.GroupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new VitableConnect.UnprocessableEntityError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/groups");
    }

    /**
     * Retrieves a single group by its prefixed ID. Returns 404 if the group does not belong to the authenticated organization.
     *
     * @param {VitableConnect.GetGroupsRequest} request
     * @param {GroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.groups.get({
     *         group_id: "grp_abc123def456"
     *     })
     */
    public get(
        request: VitableConnect.GetGroupsRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.GroupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: VitableConnect.GetGroupsRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.GroupResponse>> {
        const { group_id: groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.GroupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/groups/{group_id}");
    }

    /**
     * Partially updates a group's name or external reference ID. Returns 404 if the group does not belong to the authenticated organization.
     *
     * @param {VitableConnect.PatchedUpdateGroupRequest} request
     * @param {GroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link VitableConnect.BadRequestError}
     * @throws {@link VitableConnect.UnauthorizedError}
     * @throws {@link VitableConnect.ForbiddenError}
     * @throws {@link VitableConnect.NotFoundError}
     * @throws {@link VitableConnect.ConflictError}
     * @throws {@link VitableConnect.UnprocessableEntityError}
     * @throws {@link VitableConnect.TooManyRequestsError}
     * @throws {@link VitableConnect.InternalServerError}
     * @throws {@link VitableConnect.BadGatewayError}
     * @throws {@link errors.VitableConnectError}
     * @throws {@link errors.VitableConnectTimeoutError}
     *
     * @example
     *     await client.groups.update({
     *         group_id: "grp_abc123def456",
     *         name: "Tier 1 (renamed)",
     *         external_reference_id: "mol_seg_001_v2"
     *     })
     */
    public update(
        request: VitableConnect.PatchedUpdateGroupRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): core.HttpResponsePromise<VitableConnect.GroupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: VitableConnect.PatchedUpdateGroupRequest,
        requestOptions?: GroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VitableConnect.GroupResponse>> {
        const { group_id: groupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VitableConnectEnvironment.Production,
                `v1/groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VitableConnect.GroupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new VitableConnect.BadRequestError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new VitableConnect.UnauthorizedError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new VitableConnect.ForbiddenError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new VitableConnect.NotFoundError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new VitableConnect.ConflictError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new VitableConnect.UnprocessableEntityError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new VitableConnect.TooManyRequestsError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new VitableConnect.InternalServerError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                case 502:
                    throw new VitableConnect.BadGatewayError(
                        _response.error.body as VitableConnect.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VitableConnectError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/groups/{group_id}");
    }
}
